@{
    ViewData["Title"] = "تماس با ما";
    ViewData["h1"] = "تماس با ما";
    ViewData["h1Description"] = "در این جا توضیحاتی در مورد عنوان این صفحه قرار می گیرد";
}
<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-5">
            <p>از طریق فرم روبرو یا یکی از شبکه های اجتماعی ذکر شده ، با ما در تماس باشید</p>
            <p><i class="fa-solid fa-location-dot mx-3"></i>میانه ، آذربایجان شرقی</p>
            <p><i class="fa-solid fa-phone mx-3"></i></i> 041-52341345</p>
            <p><i class="fa-solid fa-at mx-3"></i>KimiaCharm@gmail.com</p>
            <p><i class="fa-brands fa-instagram mx-3"></i>m.u3fian</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <input class="form-control" id="name" name="name" placeholder="نام" type="text" required>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <input class="form-control" id="email" name="email" placeholder="ایمیل" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="متن" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-dark pull-right" type="submit">ارسال</button>
                </div>
            </div>
        </div>
    </div>
</div>