@model ViewModels.LoginViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "بازیابی کلمه عبور";
    ViewData["h1"] = "بازیابی کلمه عبور";
    ViewData["h1Description"] = "آدرس ایمیل خود را در فرم زیر وارد کرده و چند ثانیه منتظر باشید . اگر آدرس ایمیل وارد شده قبلا در سایت ثبت شده باشد ، ایمیلی حاوی لینک تغییر رمز دریافت خواهید کرد";
}
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="Email" placeholder="ایمیل خود را وارد کنید">
    <label for="Email" class="form-label text-dark">آدرس ایمیل</label>
</div>
<div class="col-4 mx-auto mt-3">
    <input type="submit" class="form-control btn btn-success " value="برو">
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"
            integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}
