@model ViewModels.NewPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "تغییر کلمه عبور";
    ViewData["h1"] = "تغییر کلمه عبور";
    ViewData["h1Description"] = "پسوردی جدید برای حساب کاربری خود انتخاب کنید . دقت کنید تا رمزی مطمئن را وارد کنید و آن را به خاطر بسپارید";
}

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="Password" placeholder="پسورد  جديد را وارد کنید">
    <label for="Password" class="form-label text-dark">پسورد جديد</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="Password_repeat" placeholder="دوباره پسورد جديد را وارد کنید">
    <label for="Password_repeat" class="form-label text-dark">تکرار پسورد جديد</label>
</div>
<div class="col-4 mx-auto mt-3">
    <input type="submit" class="form-control btn btn-warning " value="ذخیره">
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"
            integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}
